{% load static %}
<!-- Barra de navegación -->
<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo1.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item @@index">
          <a class="nav-link" href="/" >Inicio</a>          
        </li>       
        {% if 'ComunidadAdmin' in groups or 'Usuario' in groups %}
        <li class="nav-item @@perfil">
          <a class="nav-link" href="/perfil">Perfil</a>
        </li>
        <li class="nav-item @@servicios">
          <a class="nav-link" href="/buscar/servicios">Servicios</a>
        </li>
        <li class="nav-item @@comunidades">
          <a class="nav-link" href="/buscar/comunidades">Comunidades</a>
        </li>
        {% endif%}
        {% if 'ComunidadAdmin' in groups %}
        <li class="nav-item @@administrarComunidades">
          <a class="nav-link" href="/buscar/comunidades">Administrar Comunidad</a>
        </li>
        {% endif%}
        {% if 'Organismo' in groups %}
        <li class="nav-item @@informes">
          <a class="nav-link" href="/informes">Informes</a>
        </li>
        <li class="nav-item @@cargarDatos">
          <a class="nav-link" href="/cargar-datos">Cargar Datos</a>
        </li>
        {% endif%}
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
          </form>
        </li>
        
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr style="margin: 0px;">