<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Mi Sitio Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if 'ComunidadAdmin' in groups or 'Usuario' in groups %}
        <li class="nav-item {% if request.path == '/perfil/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'perfil_usuario' %}">Perfil</a>
          </li>
        <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %}">
          <a class="nav-link" href="/servicios">Tus servicios <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/comunidades/' %}active{% endif %}">
          <a class="nav-link" href="/comunidades">Tus Comunidades</a>
        </li>
        {% endif%}
        {% if 'ComunidadAdmin' in groups %}
        <li class="nav-item {% if request.path == '/comunidades/administrar' %}active{% endif %}">
          <a class="nav-link" href="/comunidades/administrar">Administrar Comunidad</a>
        </li>
        {% endif%}
        {% if 'Organismo' in groups %}
        <li class="nav-item {% if request.path == '/informes/' %}active{% endif %}">
          <a class="nav-link" href="/informes">Informes</a>
        </li>
        {% endif%}
        {% if user.is_authenticated %}
  <li class="nav-item">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
    </form>
  </li>
  
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
  </li>
{% endif %}
    </ul>
</div>
</nav>