{% load static %}
<!-- Barra de navegación -->
<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo1.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item @@index">
          <a class="nav-link" href="/" >Inicio</a>          
        </li>       
        {% if 'ComunidadAdmin' in groups or 'Usuario' in groups %}
        <li class="nav-item @@perfil">
          <a class="nav-link" href="/perfil">Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidades
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/buscar/comunidades" class="dropdown-item">Explorar comunidades</a>
            <a href="/mis-comunidades" class="dropdown-item">Mis comunidades</a>
            <a href="/crear-comunidad" class="dropdown-item">Crear una comunidad</a>
          </div>
        </li>
        {% endif%}

       

        {% if 'Organismo' in groups %}
        <li class="nav-item dropdown @@informes">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Informes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/informes/mayor-tiempo">Mayor tiempo promedio de cierre</a>
            <a class="dropdown-item" href="/informes/mas-incidentes">Más incidentes</a>
          </div>
        </li>
        <li class="nav-item @@cargarDatos">
          <a class="nav-link" href="/cargar-datos">Cargar Datos</a>
        </li>
        {% endif%}
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
          </form>
        </li>
        
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr style="margin: 0px;">