
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

    {% include 'fragments/head.html' %}
        <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
            {% include 'fragments/header.html' %}



    

    

    <div class="modal fade" id="popupServicio" tabindex="-1" role="dialog" aria-labelledby="popupFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popupFormModalLabel">Solicitar servicio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <!-- Your form content goes here -->
              <form method="POST" action="{% url 'administrar_comunidad' id_comunidad %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="form-group mt-5">
                  <button type="submit" class="btn btn-primary">Solicitar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="popupEliminar" tabindex="-1" role="dialog" aria-labelledby="popupFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popupFormModalLabel">Eliminar comunidad</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <h3>¿Estás seguro que quieres eliminar esta comunidad?</h3>
              
                  <div class="form-group mt-5">
                  <a href=""><button type="submit" class="btn btn-primary">Eliminar</button></a>
                </div>
              
            </div>
          </div>
        </div>
      </div>



      <div class="container mt-5">
        <div class="row">
          <div class="col-md-8">
            <!-- Nombre del grupo, descripción y administrador -->
            <h1>{{ comunidad.nombre }}</h1>
            <p class="lead">{{ comunidad.descripcion }}</p>
            
          </div>
          <div class="col-md-4">
            <!-- Indicadores numéricos -->
            <div class="d-flex justify-content-end">
              <div class="mr-4">
                <span class="badge badge-primary">Miembros: {{ cantidad_miembros}}</span>
              </div>
              <div>
                <span class="badge badge-secondary">Incidentes Activos: 0</span>
              </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class=" btn-primary" data-toggle="modal" data-target="#popupServicio">Solicitar Servicio</button>                
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class=" btn-primary" data-toggle="modal" data-target="#popupEliminar" style="background-color: red;border-color: red;">Eliminar Comunidad</button>
              </div>
              {% if comunidad_perfiles %}
              <div class="d-flex justify-content-end mt-3">
                <a href="{% url 'salir_comunidad' comunidad_id=comunidad.id  pag_redirect='mis_comunidades' tipo='admin' %}"><button type="button" class=" btn-primary" style="background-color: red;border-color: red;">Salir de Comunidad</button></a>
              </div>
              {% endif %}
          </div>
        </div>
        <br>
        <!-- Lista de usuarios -->
        <h3>Miembros de la comunidad</h3>
        <ul class="list-group member-list">

            {% for miembro in comunidad_perfiles %}
            {% if miembro.esAdmin %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ miembro.perfil.nombre }} {{ miembro.perfil.apellido }} <em><strong>ADMINISTRADOR</strong></em></span>
            <div>
                <a href="{% url 'sacar_admin' perfil_id=miembro.perfil.id  comunidad_id=comunidad.id %}"><button class="btn btn-sm btn-admin mr-2">Sacar Admin</button></a>
                <a href="{% url 'eliminar_miembro' perfil_id=miembro.perfil.id  comunidad_id=comunidad.id %}"><button class="btn btn-sm btn-delete">Eliminar</button></a>
            </div>
          </li>
          {% else %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ miembro.perfil.nombre }} {{ miembro.perfil.apellido }}</span>
            <div>
                <a href="{% url 'designar_admin' perfil_id=miembro.perfil.id  comunidad_id=comunidad.id %}"><button class="btn btn-sm btn-admin mr-2">Hacer Admin</button></a>
              <a href="{% url 'eliminar_miembro' perfil_id=miembro.perfil.id  comunidad_id=comunidad.id %}"><button class="btn btn-sm btn-delete">Eliminar</button></a>
            </div>
          </li>

          {% endif %}
          {% endfor %}


          


          <!-- Agrega más elementos li para más usuarios -->
        </ul>
      </div>
      
      
        
        
      
      <!-- Scripts de Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
</div>

{% include 'fragments/scripts.html' %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

