{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
{% include 'fragments/head.html' %} 

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

	{% include 'fragments/header.html' %} 




<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					<!-- Image -->
          {% if tipo == 'lineatransporte' %}
					<div class="image">
						<a href="blog-single.html"><img class="img-fluid" src="{{ lineas.foto.url }}" alt="featured-article"></a>
					</div>
					
					<div class="content">						
						<h2><a href="blog-single.html">{{lineas.nombre}}</a></h2>						
						<ul class="text-md-left">
                            <li>Tipo: {{ lineas.tipo_transporte }}</li>
                            <li>Provincia: {{ lineas.provincia }}</li>
                            
                        </ul>
                        </div>
						{% else %}
            <div class="image">
              <a href="blog-single.html"><img class="img-fluid" src="{{ organizaciones.foto.url }}" alt="featured-article"></a>
            </div>
            
            <div class="content">						
              <h2><a href="blog-single.html">{{organizaciones.nombre}}</a></h2>						
              <ul class="text-md-left">
                              <li>Tipo: {{ organizaciones.tipo_organizacion}}</li>
                              <li>Provincia: {{ organizaciones.provincia}}</li>
                              
                          </ul>

					</div>
          {% endif %}
				</article>
			</div>
		</div>
	</div>
</section>

<!--====  End of Featured Article  ====-->
{% if tipo == 'lineatransporte' %}


<div class="container mt-5">
  <ul class="list-group member-list">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{estacion_origen.nombre}}</span>
    <div>
        <a href="{% url 'establecimiento' id=estacion_origen.id tipo='estacion' %}"><button class="btn btn-sm btn-admin mr-2">Detalle</button></a>
       
    </div>
  </li>



{% for estacion in estaciones_intermedias %}

<li class="list-group-item d-flex justify-content-between align-items-center">
  <span>{{estacion.nombre}}</span>
  <div>
      <a href="{% url 'establecimiento' id=estacion.id tipo='estacion' %}"><button class="btn btn-sm btn-admin mr-2">Detalle</button></a>
     
  </div>
</li>

{% endfor %}
<li class="list-group-item d-flex justify-content-between align-items-center">
  <span>{{estacion_destino.nombre}}</span>
  <div>
      <a href="{% url 'establecimiento' id=estacion_destino.id tipo='estacion' %}"><button class="btn btn-sm btn-admin mr-2">Detalle</button></a>
     
  </div>
</li>

</ul>
</div>
  
  {% else %}

  <div class="container mt-5">
  <ul class="list-group member-list">

  {% for sucursal in sucursales %}

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{sucursal.nombre}}</span>
    <div>
        <a href="{% url 'establecimiento' id=sucursal.id tipo='sucursal' %}"><button class="btn btn-sm btn-admin mr-2">Detalle</button></a>
       
    </div>
  </li>
  
{% endfor %}
  </ul>
</div>
{% endif %}

<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-alt.png" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="team.html">Teams</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="career.html">Career</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investor</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>

	<div class="text-center bg-dark py-1">
		<small> <p>Distributed By <a href="https://themewagon.com/">Themewagon</a></p></small class="text-secondary">
	 </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/syotimer/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'plugins/aos/aos.js' %}"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="{% static 'plugins/google-map/gmap.js' %}"></script>
  
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>