{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<html lang="en">
{% include 'fragments/head.html' %} 

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

	{% include 'fragments/header.html' %} 




<!--======================================
=            Featured Article            =
=======================================-->
<section class="section featured-article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="featured">
					
            <div class="image">
              {% if establecimiento.foto %}
                <a href="blog-single.html"><img class="img-fluid" src="{{ establecimiento.foto.url }}" alt="featured-article"></a>
              {% endif %}
            </div>
            
            <div class="content">						
              <h2>{{ establecimiento.nombre }}</h2>						
              <ul class="text-md-left">
                <li>Provincia: {{ establecimiento.provincia}}</li>
                <li>Departamento: {{ establecimiento.departamento}}</li>
                <li>Dirección: {{ establecimiento.ubicacion_geografica}}</li>
              </ul>

					</div>
        
				</article>
			</div>
		</div>
	</div>
</section>


<!--======================================
=            Tabla de Servicios           =
=======================================-->



<section>
<div class="container">
  <h2>Servicios disponibles</h2>
  <table class="table" >
      <thead>
          <tr>
              <th style="width: 50%;">Nombre</th>
              
              <th style="text-align: center; width: 30%;">Estado</th> 
              <th style="text-align: center;">Suscripción</th>
          </tr>
      </thead>
      <tbody>
        {% for detalle in detalles_servicios %}
          <tr>
              <td style="width: 60%;">{{ detalle.servicio.nombre }}</td>
              
              {% if detalle.actividad == 'Activo' %}
              <td style="text-align: center;">
                <i class="text-success fas fa-check"></i>
              </td>
              {% else %}
              <td style="text-align: center;">
                <i class="text-danger fas fa-times"></i>
              </td>
              {% endif %}
              {% if detalle.suscrito %}
              <td style="text-align: center;">                
                <a href="{% url 'eliminar_servicio_perfil_estacion' servicio_id=detalle.servicio.id  establecimiento_id=establecimiento.id tipo=tipo %} " class="btn btn-primary " style="background-color: red;">Desuscribirse</a>
              </td>
                {% else %}
                <td style="text-align: center;">
                <a href="{% url 'servicio_perfil_estacion' servicio_id=detalle.servicio.id  establecimiento_id=establecimiento.id tipo=tipo %} " class="btn btn-primary" style="background-color: green;">Suscribirse</a>
              </td>
                {% endif %}
              
               
              
          </tr>
          {% endfor %}
 <!-- 
          <tr>
              <td>Elemento 2</td>
              <td>Descripción del elemento 2</td>
              <td>
                <i class="text-danger fas fa-times"></i>
                 
              </td>
              <td>
                <button class="btn btn-primary">Suscribirse</button>
              </td>
          </tr>
           Puedes agregar más filas según sea necesario -->
      </tbody>
  </table>
</div>

</section>











<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-alt.png" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="team.html">Teams</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="career.html">Career</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investor</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>

	<div class="text-center bg-dark py-1">
		<small> <p>Distributed By <a href="https://themewagon.com/">Themewagon</a></p></small class="text-secondary">
	 </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/syotimer/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'plugins/aos/aos.js' %}"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="{% static 'plugins/google-map/gmap.js' %}"></script>
  
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>