{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
{% include 'fragments/head.html' %} 

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

	{% include 'fragments/header.html' %} 

<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<div  data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="0">
				<h1 class="text-white font-weight-bold mb-4">MONITOREA TUS NECESIDADES</h1>				
				<p class="text-white mb-5">Consulta si existen los servicios públicos que necesitas en tu destino!</p>
			</div>
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div  data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0">
				<img class="img-fluid" src="{% static 'images/boti.png' %}" alt="screenshot">
			</div>
			</div>
			

			<!--====  barra de busqueda  ====-->
			<div class="col-md-12 text-center order-1 order-md-2 bg-white rounded" style="padding: 0px;">
				<form method="get" style="width: 100%;">
				<div class="input-group" style="height: 100%;">
					
						
							<input type="text" class="form-control" style="height: 100%;" placeholder="Buscar..."  name="buscar" value="{{ request.GET.buscar}}">
					
						<div class="input-group-append">
						<button type="submit" class="btn btn-primary" style="height: 100%; padding-left: 10px;">
							<i class="ti-search h1" style="font-size: 1rem;"></i>
						</button>
					
						</div>
					
				</div>
			</form>
			</div>
		<!--====  barra de busqueda  ====-->

		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<!--====  LINEAS ====-->
			{% if lineas  %}
			<h3 class="mt-4 text-capitalize h5 ">Ferrocarriles y Subterráneos</h3>
			<div class="row">
								
				{% for linea in  lineas %}
					<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center" style="border: 0.5px solid #e0e0e0; padding: 5px;margin: 0px;" >
						<i class="ti-car text-primary h1"></i>
						<h3 class="mt-4 text-capitalize h5 ">{{  linea.nombre }}</h3>
						<p class="regular text-muted ">
							<ul class="text-md-left">
								<li><small>Tipo: {{ linea.tipo_transporte}}</small></li>
								<li><small>Provincia: {{ linea.provincia}}</small></li>
								
							</ul>
						</p>
						<a href="{% url 'entidad' id=linea.id tipo='lineatransporte' %}" class="btn btn-rounded-icon "><i class="ti-info-alt text-primary h1"></i></a>
					</div>
				{% endfor %}
			</div>
				{% endif %}
			

				<!--====  ORGANIZACIONES  ====-->
				{% if organizaciones  %}
				<h3 class="mt-4 text-capitalize h5 ">Organizaciones</h3>
				<div class="row">
				
				{% for organizacion in organizaciones %}
						<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center" style="border: 0.5px solid #e0e0e0; padding: 5px;margin: 0px;">
							<i class="ti-home text-primary h1"></i>
							<h3 class="mt-4 text-capitalize h5 ">{{  organizacion.nombre }}</h3>
							<p class="regular text-muted ">
								<ul class="text-md-left">
									<li><Small>Tipo: {{ organizacion.tipo_organizacion}}</Small></li>
									<li><small>Provincia: {{ organizacion.provincia}}</small></li>
									
								</ul>
							</p>
								<a href="{% url 'entidad' id=organizacion.id tipo='organizacion' %}" class="btn btn-rounded-icon "><i class="ti-info-alt text-primary h1"></i></a>
						</div>
				{% endfor %}
				</div>
				{% endif %}
				

				<!--====  ESTACIONES  ====-->
				{% if estaciones  %}
				<h3 class="mt-4 text-capitalize h5 ">Estaciones</h3>
				<div class="row">
				
				{% for estacion in estaciones %}
						<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center" style="border: 0.5px solid #e0e0e0; padding: 5px;margin: 0px;">
							<i class="ti-home text-primary h1"></i>
							<h3 class="mt-4 text-capitalize h5 ">{{  estacion.nombre }}</h3>
							<p class="regular text-muted ">
								<ul class="text-md-left">
									<li><small>Provincia: {{ estacion.provincia}}</small></li>
									<li><small>Departamento: {{ estacion.departamento}}</small></li>
									<li><small>Dirección: {{ estacion.ubicacion_geografica}}</small></li>
								</ul>
							</p>
								<a href="{% url 'establecimiento' id=estacion.id tipo='estacion' %}" class="btn btn-rounded-icon "><i class="ti-info-alt text-primary h1"></i></a>
						</div>
				{% endfor %}
				</div>
				{% endif %}

				<!--====  SUCURSALES  ====-->
				{% if sucursales  %}
				<h3 class="mt-4 text-capitalize h5 ">Sucursales</h3>
				<div class="row">
				
				{% for sucursal in sucursales %}
						<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center" style="border: 0.5px solid #e0e0e0; padding: 5px;margin: 0px;">
							<i class="ti-home text-primary h1"></i>
							<h3 class="mt-4 text-capitalize h5 ">{{  sucursal.nombre }}</h3>
							<ul class="text-md-left">
								
								<li><small>Provincia: {{ sucursal.provincia}}</small></li>
								<li><small>Departamento: {{ sucursal.departamento}}</small></li>
								<li><small>Dirección: {{ sucursalS.ubicacion_geografica}}</small></li>
							
							</ul>
								<a href="#" class="btn btn-rounded-icon "><i class="ti-info-alt text-primary h1"></i></a>
						</div>
				{% endfor %}
				</div>
				{% endif %}




				
			</div>
		</div>
	
</section>




<!--=================================
=            Video Promo            =
==================================-->
<section class="video-promo section bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content-block">
					<!-- Heading -->
					<h2>Watch Our Promo Video</h2>
					<!-- Promotional Speech -->
					<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et,
						porttitor at sem. Vivamus </p>
					<!-- Popup Video -->
					<a data-fancybox href="https://www.youtube.com/watch?v=jrkvirglgaQ">
						<i class="ti-control-play video"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Video Promo  ====-->

<!--=================================
=            Testimonial            =
==================================-->
<section class="section testimonial" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Testimonial Slider -->
				<div class="testimonial-slider owl-carousel owl-theme">
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>
							<!-- Person Thumb -->
							<div class="image">
								<img src="{% static 'images/testimonial/feature-testimonial-thumb.jpg' %}" alt="image">
							</div>
							<!-- Name and Company -->
							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>
							<!-- Person Thumb -->
							<div class="image">
								<img src="{% static 'images/testimonial/feature-testimonial-thumb.jpg' %}" alt="image">
							</div>
							<!-- Name and Company -->
							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>
							<!-- Person Thumb -->
							<div class="image">
								<img src="{% static 'images/testimonial/feature-testimonial-thumb.jpg' %}" alt="image">
							</div>
							<!-- Name and Company -->
							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>
							<!-- Person Thumb -->
							<div class="image">
								<img src="{% static 'images/testimonial/feature-testimonial-thumb.jpg' %}" alt="image">
							</div>
							<!-- Name and Company -->
							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Testimonial  ====-->

<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>It's time to change your mind</h2>
				<p>Download over 2 million humans .Get <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a> free forever!
					<br>We say you won’t look back.</p>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-apple"></i>
							Iphone
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-android"></i>
							Android
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-microsoft-alt"></i>
							Windows
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="{% static 'images/logo-alt.png' %}" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="team.html">Teams</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="career.html">Career</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investor</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/syotimer/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'plugins/aos/aos.js' %}"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="{% static 'plugins/google-map/gmap.js' %}"></script>
  
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
