
{% load static %}
<html lang="es">
  {% include 'fragments/head.html' %} 
  <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
    {% include 'fragments/header.html' %} 
    <div class="container mt-5">
      <div class="row column">
        <h1>Lista de Comunidades</h1>
        <ul>
            {% for comunidad in comunidades %}
            <li>
                {{ comunidad.nombre }}
                {% if not comunidad in perfil_comunidades %}
                <form method="post" action="{% url 'listar_comunidades' %}">
                    {% csrf_token %}
                    <input type="hidden" name="comunidad_id" value="{{ comunidad.id }}">
                    <button type="submit" name="unirse">Unirse</button>
                </form>
                {% else %}
                    <form method="post" action="{% url 'listar_comunidades' %}">
                        {% csrf_token %}
                        <input type="hidden" name="comunidad_id" value="{{ comunidad.id }}">
                        <button type="submit" name="salir">Salir</button>
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Agregar los enlaces a los archivos JS de Bootstrap -->
    {% include 'fragments/scripts.html' %} 
  </body>
</html>